@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Notifications";

}
@section notifications{
    <link rel="stylesheet" href="~/css/notifications.css" />
}
<div class="container">
    <div class="row">
        <div class="col-sm item" style="border-right:1px solid #D6D6D6">
            <h3>Notifications</h3>
            <div class="card">
                <div class="card-body">
                    <p class="date">21/2/22</p>
                    <p class="card-text mt-3 mb-3">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm item">
            <h3>Mentions</h3>
            <div class="card">
                <div class="card-body">
                    <p class="date">21/2/22</p>
                    <h5 class="card-title mt-3 mb-3">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
    </div>
</div>