@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "";
    ViewData["Title"] = "Forget Password";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/constants.css">
    <link rel="stylesheet" href="~/css/colors.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/forgetpassword.css">
</head>
<body>
    <div class="row inner-body">
        <div class="col-sm">
            <img class="m-5" src="~/assets/icons/logo.svg">
            <h1>Forgot Password?</h1>
            <p class="text mb-3 mt-3">
                The system will send a link to your email.  Access
                the link to reset your password.
            </p>
            <form action="">
                <div class="col-md-4 w-100">
                    <div class="form-group email-group">
                        <div class="label-email">
                            <label class='email'>Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary rounded submit-button mt-5">Submit</button>
                </div>
            </form>
        </div>

        <div class="col-sm frame">
            <img src="~/assets/img/loginImage.svg">
        </div>
    </div>
</body>
</html>
