.btn-toggle.collapsed{
    background-color: var(--primary-color);
}
.btn-toggle{
    display:flex;
    justify-content: space-between;
    width: 100%;
    min-width: 50px;
    align-items: center;
    background-color: var(--highlight-color);
}

li .btn-toggle::after {
    display: inline-block;
    width: 2em;
    line-height: 0;
    content: url(../assets/icons/arrow.svg);
    transition: transform .35s ease;
    
    transform: rotate(180deg);
}
li .btn-toggle.collapsed::after{
    transform: rotate(0);

}


#sidebar {
    height: 100vh;
    width: 280px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s;
    z-index: 1200;
}

#sidebar-toggle-label img{
    height: 100%;
    transform: rotate(90deg);
}
#sidebar-toggle-label img:last-child{
    transform: rotate(90deg) translateY(50%);

}
#sidebar-toggle-label{
    display: flex;
    height: 20px;
    float: right;
    margin:20px 0px;
    cursor: pointer;
}

#sidebar-toggle:checked ~ #sidebar{
    width: 50px !important;
}

#sidebar-toggle:checked ~ #sidebar #sidebar-toggle-label{
    transform: rotate(180deg) translateX(10px);
    
}
#sidebar{

}
#sidebar  *{
    color:white;
    
}
#sidebar-toggle:checked ~ #sidebar #collapsed-toggle-label{
    display: block;
}

#collapsed-toggle-label{
    display: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    cursor: pointer;
}


.btn-toggle-nav {
    padding:0em 2em;
    margin:0.5em 0;
    width: 100%;
}
.btn-toggle-nav li{
    padding-bottom: 0.5em;
}

.sidebar-li > div{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    padding:0em 1em;
}
.sidebar-li > div > button{
    width: 100%;
    margin-top:1em;
    margin-bottom: 0.5em;
}
.favourites-list li{
    list-style-image: url(../assets/icons/star.svg);
    
}