html, body {
    width: 100%;
}

body {
    background-color: #eaf5ff;
    padding: 5rem;
}

.inner-body {
    border-radius: 1rem;
    background-color: white;
    min-height:640px
}

.row {
    --bs-gutter-x: 0;
}

h1 {
    color: var(--primary-color);
    text-align: center;
}

.first-row-items {
    width: 30rem;
    margin: 0 auto;
}

.first-name,
.last.name {
    width: 14rem;
}

.label-style {
    display: block;
    width: 30rem;
    margin: 0 auto;
}

.submit-button {
    display: block;
    width: 30rem;
    margin: 0 auto;
}

/* Divider  */
.strike {
    width: 30rem;
    margin: 0 auto;
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    color: #8F8F8F;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    border-top: 1px solid #CECECE;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.login-google {
    position: relative;
}

.login-google span::before {
    content: '';
    background: url('../assets/icons/google.svg') no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 25%;
    left: 29%;
}

.frame {
    border-right: 1px solid #CECECE;
    position: relative;
}

.frame img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.password-container {
    position: relative;
}

.password-container input[type="password"],
.password-container input[type="text"] {
    width: 100%;
    box-sizing: border-box;
}

.fa-eye {
    position: absolute;
    top: 28%;
    right: 4%;
    cursor: pointer;
    color: lightgray;
}
